		.jw-logo{
			margin:0!important;
			opacity: .5!important;
		}
			.jw-captions {
				background-: rgba(0,0,0,0.4)!important;
				color: red!important;
			}
			.jw-text-track {

			}
			.jw-text-track-display {
				top:;
				bottom:;
			}
			.jwplayer.jw-skin-chans .jw-text-track-cue {
				background: rgba(0,0,0,0)!important;
				font-family: 'Jolly Lodger', cursive!important;
    			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black!important;
    			color: #f1f1f1!important;
    			font-weight: bold!important;
			}
			@media screen and (max-width:900px){
				.jw-captions {
					font-size:10px!important;
				}
			}
			@media screen and (max-width:400px){
				.jw-captions {
					font-size:18px!important;
				}
			}

.jwplayer.jw-skin-chans .jw-controlbar {
  background-color: rgba(19, 20, 21, 0.8)fff;
}

.jwplayer.jw-skin-chans .jw-controlbar .jw-button-container .jw-button-color {
  color: #4495A6;
}

.jwplayer.jw-skin-chans.jw-state-paused .jw-controlbar .jw-button-container .jw-button-color {
  color: #0099ff;
}

.jwplayer.jw-skin-chans .jw-controlbar .jw-button-container .jw-button-color:hover {
  color: #E4F6F7;
}


/* Move tooltips closer to control bar with inline timeslider, change colors, round corners, remove shadow */
.jwplayer.jw-skin-chans .jw-controlbar .jw-tooltip {
  bottom: 70%;
  box-shadow: none;
}

.jwplayer.jw-skin-chans .jw-controlbar .jw-tooltip.jw-open {
  border-radius: 5px;
  color: #4495A6;
}

.jwplayer.jw-skin-chans .jw-controlbar .jw-tooltip .jw-text {
  background-color: #4495A6;
  border-radius: 5px;
  border: 0;
}

.jwplayer.jw-skin-chans .jw-controlbar .jw-text {
  color: #FFF; 
}

.jwplayer.jw-skin-chans .jw-time-tip .jw-text {
  color: #4495A6;
}

.jwplayer.jw-skin-chans .jw-volume-tip,
.jwplayer.jw-skin-chans .jw-time-tip {
  padding-bottom: 0;
}


/* Customize colors of volume control knob */
.jwplayer.jw-skin-chans .jw-overlay .jw-slider-volume .jw-slider-container .jw-knob {
  background-color: #0099ff;
}


/* Customize colors of timeslider */
.jwplayer.jw-skin-chans .jw-controlbar .jw-slider-time .jw-slider-container .jw-rail {
  background-color: #1E1E1E;
}
/*
.jwplayer.jw-skin-chans .jw-controlbar .jw-slider-time .jw-slider-container .jw-buffer {
  background-color: #f1f1f1;
}
*/
.jwplayer.jw-skin-chans .jw-controlbar .jw-slider-time .jw-slider-container .jw-progress {
  background-color: #0099ff;
}

.jwplayer.jw-skin-chans .jw-controlbar .jw-slider-time .jw-slider-container .jw-knob {
  background-color: #0099ff;
}
.jwplayer.jw-skin-chans .jw-slider-horizontal{height:.2em}

/* Customize colors/opacity of the settings menu */
.jwplayer.jw-skin-chans .jw-settings-menu {
  background-color: transparent;
}

.jwplayer.jw-skin-chans .jw-settings-menu .jw-settings-topbar {
  background-color: #4495A6;
}

.jwplayer.jw-skin-chans .jw-settings-menu .jw-settings-topbar .jw-icon:hover {
  color: #FFF;
}

.jwplayer.jw-skin-chans .jw-settings-menu .jw-settings-submenu {
  background-color: #777;
}

.jwplayer.jw-skin-chans .jw-settings-menu .jw-settings-content-item {
  color: #FFF;
}

.jwplayer.jw-skin-chans .jw-settings-menu .jw-settings-content-item:hover,
.jwplayer.jw-skin-chans .jw-settings-menu .jw-settings-item-active {
  color: #FFF;
  font-weight: bold;
}
